<div fxLayout="row" class="margin-top-30">
    <div fxFlexOffset="30" fxFlex="40">
        <div>
            <section class="mat-typography">
                <h1> Register </h1>
            </section>
        </div>
        <div class="form-container mat-elevation-z5">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput type="text" id="firstname" name="firstname" formControlName="firstname" placeholder="firstname" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" id="lastname" name="lastname" formControlName="lastname" placeholder="lastname" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" id="email" name="email" formControlName="email" placeholder="email" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" id="username" name="username" formControlName="username" placeholder="username" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" id="password" name="password" formControlName="password" placeholder="password" />
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">Register</button>
            </form>
        </div>
    </div>
</div>